DataPortal/src/wsdl/vservices01_8080/CertificationService/ComparingService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://certificationservice.inek.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://certificationservice.inek.org/">

<xs:element name="compare" type="tns:compare"/>

<xs:element name="compareResponse" type="tns:compareResponse"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:complexType name="compare">
<xs:sequence>
<xs:element name="resultFile" type="xs:string" minOccurs="0"/>
<xs:element name="referenceFile" type="xs:string" minOccurs="0"/>
<xs:element name="isDrg" type="xs:boolean"/>
<xs:element name="isCertPhase" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compareResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>